#container {
    margin: 0;
}

#header {
    background: url(images/Layer-25.jpg);
    width: 100%;
    height: 600px;
    background-size: 100%;
    position: relative;
}

#logo {
    float: left;
    left: 10%;
    height: 21px;
    top: 40px;
    position: absolute;

}

#logo:hover {
    cursor: pointer;
}

#navbar {
    position: absolute;
    top: 30px;
    right: 10%; 
}

.option {
    float: left;
    font: 400 18px OpenSans;
    padding: 10px;
    color: white;
}

.option:hover {
    background-color: black;
    cursor: pointer;
    opacity: 0.5;
}

#front {
    position: absolute;
    height: 150px;
    width: 40%;
    top: 200px;
    left: 10%;
    font: 400 49.96px / 69.938px OpenSans;
    text-align: right;
    color: #ffffff;
}

#second {
    height: 500px;
    width: 100%;
    text-align: center;
    background: url(images/Rectangle-16.png);
    font-family: OpenSans;
    font-size: 18px;
    color: white;
    position: relative;
}

.startBtn {
    margin-top: 20px;
}

.startBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

#containerInfo {
    text-align: center;
}

.info {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 10px;
    padding-top: 50px;
    float: left;
}

#third {
    height: 500px;
    background-color: #e7526b;
    background: url(images/Layer-1111.png);
    text-align: center;
    color: white;
    position: relative;
    
}

#shape {
    margin-top: -17px;
}

#wicked {
    margin: 0;
    padding-top: 150px;
    font: 300 34.97px / 60px OpenSans;
}

#pWicked {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font: 400 15px / 26px OpenSans;
}

#fourth {
    display: inline-block;
    height: 500px;
    position: relative;
    
}

#fourthImg {
    width: 50%;
    float: left;
}

#fourthTxt { 
    width: 50%;
    float: left;
    padding: 50px;
    font: 400 15px OpenSans;
}

#fifth {
    background: url(images/Base.png);
    position: relative;
    height: 500px;
    text-align: center;
    color: white;
}

#fifthH1 {
    font: 300 40px / 48px OpenSans;
    margin: 0;
    padding-top: 150px;

}

#fifthP {
    margin: 0;
    padding-top: 20px;
    font: 400 20px / 33px OpenSans;
    color: #a87bb7;
}

#sixth {
    background: url(images/Post_Image.png);
    text-align: center;
    height: 500px;
    position: relative;
    padding-top: 200px;
    
}

#footer {
    height: 200px;
    background-color: #2e3b4e;
    position: relative;
    text-align: center;
    color: #ffffff;
    font: 400 12px / 25px OpenSans;
}

#footerTxt {
    padding-top: 100px;
}

.banner { 
    position: relative; 
    overflow: auto; 
}

.banner li { 
    list-style: none; 
}

.banner ul li { 
    float: left;
}

.slideImg {
    height: 124px;
    width: 124px;
}

.slideImg:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-width: 1020px){

    #front {
        font-size: 34px;
        top: 100px;
    }
    
    #header {
    background: url(images/Layer-25.jpg);
    width: 100%;
    height: 500px;
    background-size: 127%;
    position: relative;
    }
    
    #second {
        display: block;
        font-size: 12px;
        height: 700px
    }
    #containerInfo {
        margin: 0;
        text-align: center;
    }
    
} 


@media screen and (max-width: 750px){

    #front {
        font-size: 24px;
        top: 150px;
    }
    
    #navbar {
        top: 70px;
    }
    
    #header {
    background: url(images/Layer-25.jpg);
    width: 100%;
    height: 500px;
    background-size: 150%;
    position: relative;
    }
    
    #second {
        display: block;
        font-size: 12px;
        height: 700px
    }
    #containerInfo {
        margin: 0;
        text-align: center;
    }
    
    #fourth {
        height: 700px;
    }
} 


