/*
:focus {
	outline:none;
}

.fortune {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}
.leftSide {
	color: red;
    float:left;
    width: 750px;
}

.rightSide {
	color: blue;
    float:right;
    width: 250px;
}
.clear {
    content: "";
    clear: both;
}
.guessLetter {
    width: 30px;
}
.phrase {
    text-align: center;
    letter-spacing: 18pt;
}
.rightLetter {
    border: 2px solid green;
}
.wrongLetter {
    border: 2px solid red;
}
.greenColor {
    color: green;
}*/

:focus {
  outline: none;
}

body {
  background-color: #3C4858;
  font-family: cursive;
}

.fortune {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px;
  height: 250px;
  background-color: #9DA3AB;
  text-shadow: 5px 3px 3px #6e9696;
  -webkit-box-shadow: 18px 13px 31px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 13px 31px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 13px 31px 6px rgba(0, 0, 0, 0.75);
}
.fortune .leftSide {
  color: white;
  float: left;
  width: 600px;
  text-align: center;
}
.fortune .rightSide {
  color: black;
  float: right;
  width: 400px;
  text-align: center;
}
.fortune .rightSide .letterBox {
  margin-top: 30px;
}
.fortune .rightSide .counter {
  margin-top: 30px;
}
.fortune .rightSide #guessBtn {
  background-color: #4CAF50;
  height: 50px;
  width: 120px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.fortune .rightSide #guessBtn:hover {
  background-color: #008CBA;
  color: white;
}
.fortune .rightSide button {
  width: 30px;
  height: 30px;
  background-color: #CED1D5;
  background-color: white;
}
.fortune .rightSide button:hover {
  background-color: #008CBA;
  color: white;
}
.fortune .clear {
  content: "";
  clear: both;
}
.fortune .guessLetter {
  width: 30px;
}
.fortune .phrase {
  text-align: center;
  letter-spacing: 18pt;
}
.fortune .rightLetter {
  border: 3px solid lightgreen;
}
.fortune .wrongLetter {
  border: 3px solid red;
  background-color: #44CC00;
}
.fortune .greenColor {
  color: lightgreen;
}
